.customers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
